{% extends "layout/base.html"  %}

{% load bootstrap4 %}

{% block title %}Сообщение{% endblock %}

{% block content %}

<div class="row">
    <div class="col mb-3">
        <p>Привет {{ request.user.username }}</p>
        <p>Отправь сообщение администатору</p>
        <p><a href="{% url 'logout' %}">Выход</a></p>
    </div>
</div>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit="Отправить" %}{% endbuttons %}
    </form>

    <h1>Ваши посленднии сообщения</h1>
    <ul class="list-group">
        {% for msg in msgs %}
        <li class="list-group-item">{{ msg.sent_to }} - {{ msg.text|truncatewords:8}} 
            {% if msg.sent_email %} Сообщение отправленно на email {% else %} Сообщение не тправленно на email {% endif %}</li>
        {% endfor %}
    </ul>
{% endblock %}