{% extends "layout/base.html"  %}
{% load bootstrap4 %}

{% block title %}Вход{% endblock %}

{% block content %}

<div class="row">
    <div class="col mb-5">
        <h1>Вход</h1>
    </div>
</div>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="hidden" name="next" value="{{ next }}">
    {% buttons submit="Войти" %}{% endbuttons %}
</form>

<p>Регистрация пользователя</p>
<p><a href="{% url 'register' %}">Регистрация</a></p>
{% endblock %}